@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}
/* Add cursor pointer by default */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}

@layer utilities {
  .animate-blink {
    animation: blink 1.2s ease-in-out infinite;
  }
}
